.history {
    background-color: #e9e9e9;
    display: flex;
    padding: 80px;
    justify-content: center;;
}

#enzo {
    width: 450px;
    height: 700px;
    margin-left: 68px;
}

.containerHistory {
    margin: 35px 68px 60px 100px;
    width: 750px;
    height: 730px;
}

.subTitle {
    text-align: center;
    font-weight: 700;
}

.text {
    text-align: center;
    font-weight: 100;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
}