* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', 'Arial';
    overflow-x: hidden;
}

:root {
    --title: 24px; /* semi-bold */
    --text: 16px; /* regular */
    --text-white: #fffefe;   
}